body{
    font-size: 20px !important;
    font-family: 'Candara';
}

#btnhola{
    border: 0.5em solid blue;
    border-radius: 25%;
    margin: 1em;
    padding: 1em;
    font-weight: bold;
    font-family: 'Candara';
    font-size: 10px;
    text-decoration: underline;
}

#imgch{
    width: 25em;
    border-radius: 10%;
}
