body{
    font-size: 50em;
}
nav {
    background-color: #79db53;
    font-weight: bold;
    font-size: 25px;

}
a {
    color: red;
}

#boton{
    border: 0.2em solid blue;
    border-radius: 20%;
    margin: 5em 0em;
    padding: 2em;
    font-weight: bold;
    font-size: 20px;
    text-decoration:underline black;
    text-decoration: line-through;
    font-size: 1em !important;
}
