.Tcontacto{
    text-align: center;
}
body{
    background-color: #D2F2CC;
}
h2{
    text-align: center;
}
p{
    text-align: center;
    justify-content: center;
}
.razones{
    flex: 1;
    text-align: left;
    max-width: 25%;
}
.formulario{
    flex: 1;
    text-align: right;
    text-align: center;
    justify-content: center;
    max-width: 25%;
}
.base{
    background-color: #D9E0D8;
}